html { font-size: 22px; }
/* body { padding: 1rem; } */


.page {
  background-color: #ffffff;
  border-radius: 15px;
  font-family:"Lucida Console", Monaco, monospace;
}

#myBid
{
  color: #000000;
  background-color: #ffffff;	
}

#myOrder
{
  background-color: #0394fc;	
}
.symbol {
  padding: 1rem;
  background-color: #e65c00;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  color: black;
  text-align: center;
  vertical-align: middle;
  border-radius: 15px;
  font-family:"Lucida Console", Monaco, monospace;
}


.card {
  background-color: #a3a3a3;
  color: white;
  padding: 1rem;
  text-align: center;
  vertical-align: middle;
  border-radius: 35px;
  font-family:"Lucida Console", Monaco, monospace;
}

.cards {
  padding: 1rem;
  background-color: #e65c00;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 0.5rem;
}


@media (min-width: 400px) {
  .cards { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 700px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}


